---
import logoMark from "@assets/logos/black-logomark.png";
import Image from "astro/components/Image.astro";
import contactInfo from "@/components/contact/contact";
import { Icon } from "astro-icon/components";
import getLocale from "./locales";
const locale = getLocale(Astro.currentLocale);
---

<section id="contact" class="max-w-6xl mx-auto mt-2">
  <div
    class="contact-container w-[90%] rounded-sm bg-accent/20 mx-auto p-5 max-w-xl grid grid-rows-[min-content_min-content_1fr] grid-cols-1 text-dark-accent -rotate-2 relative"
  >
    <h3 class="font-title text-lg font-bold md:text-4xl">{locale.title}</h3>
    <span class="text-sm pl-4 py-2">{locale.subtitle}</span>
    <div class="flex flex-col size-full">
      <div
        class="w-full h-full text-sm flex flex-col items-center justify-center md:text-base gap-y-5"
      >
        {
          contactInfo.map(({ icon, contact, link }) => (
            <div class="contact-item ">
              <a
                href={link}
                target="_blank"
                class="grid place-content-center p-2 md:p-0  md:size-8  rounded-full bg-dark-accent text-accent"
              >
                <Icon name={icon} class={"size-5 aspect-square"} />
              </a>
              <div class="flex items-center justify-start md:text-xl">
                <a
                  target="_blank"
                  href={link}
                  class="underline md:no-underline hover:underline cursor-pointer"
                >
                  {contact}
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <!-- img of contact card -->
    <div
      class="absolute bottom-0 right-0 h-[70%] aspect-square overflow-hidden -z-50"
    >
      <Image src={logoMark} alt={"logomark"} class="opacity-20" />
    </div>
  </div>
</section>
<style>
  @reference "@styles/global.css";
  .contact-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .contact-item {
    grid-template-columns: min-content 1fr;
    @apply grid w-full gap-x-2;
  }
</style>
<script>
  const contact_element = document.querySelector<HTMLDivElement>("#contact");
  const btns = document.querySelectorAll<HTMLButtonElement>("#contact-btn");
  function handleClick() {
    contact_element?.scrollIntoView({ block: "center", behavior: "smooth" });
  }
  btns.forEach((btn) => btn.addEventListener("click", handleClick));
</script>
