---
import Title from "@/components/shared/Title.astro";
import type { MonarchsContent } from "@i18n/layouts/monarchs";

type Props = { content: MonarchsContent["hero"] };
const {
  content: { title: title_complete, content: header_content, label },
} = Astro.props;
const [embrase_title, ...title] = title_complete.split(" ");
import mainImage from "@assets/imgs/monarch_horizontal.webp";
import seconImage from "@assets/imgs/monarca-stick.jpg";
import Image from "astro/components/Image.astro";
import SeeMore from "../components/SeeMore";
---

<main>
  <header>
    <Title className="md:text-left lg:text-7xl leading-10 py-2 md:leading-none">
      <span>{embrase_title}</span>
      <span>{title.join(" ")}</span>
    </Title>
    <section class="header-section lg:text-xl">
      {header_content.map((text) => <p>{text}</p>)}
    </section>
    <div
      class="hidden md:flex absolute bottom-0 inset-x-0 justify-center items-center gap-x-2"
    >
      <div class="flex flex-col items-center px-2 rounded-sm">
        <span class="uppercase font-semibold">{label}</span>
        <SeeMore client:visible />
      </div>
    </div>
  </header>
  <aside>
    <div class="main-img overflow-hidden">
      <Image
        src={mainImage}
        alt="Monarch background"
        class={"min-h-full object-cover"}
        loading={"eager"}
      />
    </div>
    <div class="second-img hidden overflow-hidden">
      <Image
        src={seconImage}
        alt="Monarch background"
        class={"min-h-full object-cover bg-secondary/10"}
        loading={"eager"}
      />
    </div>
  </aside>
</main>
<style>
  @reference "@styles/global.css";
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: "aside" "header";
    @apply md:min-h-screen;
  }
  header {
    & {
      grid-area: header;
      @apply pb-10 md:pb-0 flex flex-col gap-y-2;
    }

    .header-section {
      @apply flex flex-col gap-y-4 justify-center items-center;
    }
    .header-section p {
      max-width: 30ch;
    }
  }
  aside {
    & {
      min-width: 100%;
      grid-area: aside;
    }
    .main-img {
      @apply bg-secondary/10;
      width: calc(100% - 3rem);
      aspect-ratio: 16/9;
      margin-top: 1rem;
      margin-inline: auto;
      border-radius: 40px;
    }
  }
  @media (min-width: theme(--breakpoint-md)) {
    main {
      & {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        height: 100vh;
        padding-block: 9vh;
        padding-inline: 5vw;
        grid-template-areas: "header aside";
        @apply gap-x-16 -mt-14 max-w-6xl mx-auto;
      }
    }
    header {
      & {
        justify-content: center;
        align-items: start;
        position: relative;
      }
    }
    aside {
      & {
        min-width: 0;
        min-height: 100%;
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(50%, 1fr));
      }
      .main-img {
        margin: 0;
        margin-left: auto;
        aspect-ratio: 1/1;
        height: 350px;
        width: auto;
      }

      .second-img {
        border-radius: 40px;
        display: block;
        width: auto;
        height: 100%;
        aspect-ratio: 1/1;
        margin-top: -15%;
        @apply md:h-full lg:h-100 bg-secondary/10;
      }
    }
  }
</style>
